# Python-related files
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
*.tgz
*.tar.gz
*.ini

# Virtual Environment
.venv/
env/
venv/
*.env*
.env_example
.env

# Build / Distribution
dist/
build/
site/

# Logs / Reports
*.log
*.log.*
*.logfire
*.coverage/
log/

# Caches
.cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.gradio/
.history/
temp/

# IDE / Editor Files
.idea/
.vscode/
.vscode/settings.json

# Framework-specific files
local_neo4jWorkDir/
neo4jWorkDir/

# Data & Storage
inputs/
rag_storage/
examples/input/
examples/output/
output*/
data/

# Miscellaneous
.DS_Store
TODO.md
ignore_this.txt
*.ignore.*

# Project-specific files
dickens*/
book.txt
xwrag.pdf
download_models_hf.py
xwrag-dev/
gui/

# unit-test files
test_*

# Cline files
memory-bank
memory-bank/
.clinerules


index_default/__pycache__/
*.pyc
__pycache__/
*.pyc
.env
index_default/
RAG_BS/
hadoop/
*.index
xwrag-frontend/node_modules/
xwrag-frontend/server-package/node_modules/
flask_offline/
offline/
temp_uploads/
*.zip
llm_result.txt
output*.txt
测试日志/
nebula/nebula/kv_store_full_docs.json
nebula/nebula/kv_store_doc_status.json
.gitignore
nebula/nebula/kv_store_full_entities.json
nebula/nebula/kv_store_full_relations.json
.gitignore
.gitignore
nebula/nebula/kv_store_llm_response_cache.json
nebula_wx.txt
mid_output.txt
nebula/nebula/kv_store_text_chunks.json
.gitignore
.gitignore
