[Unit]
Description=xwrag XYJ Ollama Service
After=network.target

[Service]
Type=simple
User=netman
# Memory settings
MemoryHigh=8G
MemoryMax=12G
WorkingDirectory=/home/netman/xwrag-xyj
ExecStart=/home/netman/xwrag-xyj/xwrag-api
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
